
<div id="dlgClientes" title="Basic dialog">



    <form id="formClientes" action="#" method="post">
        <br /><br />
        <table>
            <tr>
                <td style="width:50%;">
                    Nombre
                </td>
                <td style="width:50%;">
                    <input type="text" name="txtnombre" id="txtnombre" />
                </td>
            </tr>

            <tr>
                <td>
                    Genero
                </td>
                <td>
                    <select name="ddlgenero" id="ddlgenero">
                        <option value="M">Masculino</option>		
                        <option value="F">Femenino</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    Edad
                </td>
                <td>
                    <input type="text" name="txtedad" id="txtedad" />
                </td>
            </tr>

            <tr>
                <td>
                    Identificacion
                </td>
                <td>
                    <input type="text" name="txtidentificacion" id="txtidentificacion" />
                </td>
            </tr>

            <tr>
                <td>
                    Direccion
                </td>
                <td>
                    <input type="text" name="txtdireccion" id="txtdireccion" />
                </td>
            </tr>

            <tr>
                <td>
                    Telefono
                </td>
                <td>
                    <input type="text" name="txttelefono" id="txttelefono" />
                </td>
            </tr>

            <tr>
                <td>
                    Clave
                </td>
                <td>
                    <input type="text" name="txtclave" id="txtclave" />
                </td>
            </tr>

            <tr>
                <td>
                    Estado
                </td>
                <td>
                    <select name="ddlestado" id="ddlestado">
                        <option value="A">Activo</option>		
                        <option value="I">Inactivo</option>
                    </select>
                </td>
            </tr>

        </table>

        <br /><br />
        <button id="btnCrear" name="btnCrear" type="button" >Crear</button>
    </form>

</div>