@{
    ViewData["Title"] = "Home Page";
}

@model EmpresaWebTest.Models.InfoEmpresa

<h1>Consultas Generales</h1>

<br />
<br />
<h3>Listado de Clientes</h3>

@await Html.PartialAsync("_TablaClientes", Model._Clientes)


<br />
<h3>Listado de Cuentas</h3>

@await Html.PartialAsync("_TablaCuentas", Model._Cuentas)


<br />
<h3>Listado de Movimientos</h3>

@await Html.PartialAsync("_TablaMovimientos", Model._Movimientos)
