@model List<Empresa.Services.MovimientoReporte>

@{
    if (Model == null) return;
}

<h3>Listado de Movimientos por rangos de fechas</h3>
<br/>

<div id="ReportMain">

<table>
    <tr>
        <td>Fecha Inicio</td>
        <td><input type="text" class="dtreport" id="rptDtInicio"></td>
    </tr>
    <tr>
        <td>Fecha Fin</td>
        <td><input type="text" class="dtreport" id="rptDtFin"></td>
    </tr>
    <tr>
        <td>
            Cliente
        </td>
        <td>
            <select id="ddlclientes" name="ddlclientes">
            </select>
        </td>
    </tr>

</table>
<br />

<button id="rptBuscar" >Buscar</button>
</div>

<br/>
<div id="divReportRangoFechas">
@await Html.PartialAsync("_ReportePorRangoFechas", Model)
</div>
